#slider {
  display: flex;
  border-radius: 6px;
  /* color: #333; */
  background: white;
  padding: 1rem;
  /* border: solid 1px; */
  /* border-color: #0055ff; */
  overflow-x: auto;
  position: relative;
}
::-webkit-scrollbar {
  display: none;
}
